/* GAME SCREEN */

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  background: linear-gradient(0deg, #f9e27d, #fc9335 80%) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .logo-game {
  width: 350px;
} */

.game {
  width: 900px;
  height: 210px;
  border: 1px solid yellow;
  position: relative;
  overflow: hidden;
}

.character {
  width: 40px;
  height: 80px;
  position: absolute;
  top: 130px;
  margin-left: 30px;
}
.jump {
  animation: jump 1s;
}

@keyframes jump {
  0% {
    top: 130px;
  }
  30% {
    top: 50px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 130px;
  }
}

.block {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 900px;
  animation: block 4s infinite;
}
